<h3>Nova Movimentação</h3>

<form [formGroup]="form" (ngSubmit)="save()">

  <select formControlName="type">
    <option value="income">Receita</option>
    <option value="expense">Despesa</option>
  </select>

  <input type="text" placeholder="Título" formControlName="title">

  <input type="text" placeholder="Categoria" formControlName="category">

  <input type="number" placeholder="Valor" formControlName="amount">

  <input type="date" formControlName="date">

  <button type="submit">Salvar</button>

</form>
